# Virtual environments
.venv/
.cache/

# Python
__pycache__/
*.pyc
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# code
old_code/

# data
adcData/
adcData_prev/
evaluations/chamfer/img_results/
evaluations/chamfer/chamfer_results/
evaluations/car/out/
evaluations/common_objects/images/
.venv-win/
.gitattributes